.skills {
    b,
    span {
        font-size: .85em;
    }

    b {
        font-weight: 500;
    }

    p {
        margin-block: 0.25em;
    }

    span {
        &:not(:last-child) {
            &::after {
                content: ', ';
            }
        }
    }
}
