@import './variables';
@import './mixins';

@import './partials/header';
@import './partials/summary';
@import './partials/experience';
@import './partials/skills';
@import './partials/project';
@import './partials/certificate';
@import './partials/education';

.body {
    display: grid;
    grid-template-columns: 63% 34%;
    gap: 0 3%;
}

.col-right {
    border-left: 1px solid rgba(0, 0, 0, .1);
    padding-left: 1.2em;
}

.section {
    margin-bottom: 1em;

    >h2 {
        font-size: .9em;
        font-weight: 100;
    }
}
